* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
#Navbar2 {
	width: 100vw;
	height: 80px;
	border: 1px solid gray;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 30px;
	background-color: white;
	box-shadow: 4px 7px 38px -27px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 4px 7px 38px -27px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 4px 7px 38px -27px rgba(0, 0, 0, 0.75);
	z-index: 100;
	position: fixed;
}
.logo {
	height: 70px;
}
.left-sidebar {
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
}
.menu > .sumanspan {
	padding: 10px;
}
.menu > .sumanspan > a {
	font-weight: 700;
	text-decoration: none;
	color: black;
}
.right-sidebar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.search-bar {
	margin-right: 30px;
	border: 1px solid black;
}
.search-bar > input,
a {
	padding: 10px;
	border: none;
	outline: none;
}
.icon > .sumanspan {
	padding: 20px;
	font-size: 1.75rem;
}
.icon > .sumanspan > a {
	color: black;
}

/* footer */
.footer {
	margin-top: 9rem;
	padding: 1.25rem;
	width: 100%;
	background-color: #f4f4f4;
}
.footer > h3 {
	padding: 0px 0px 30px 50px;
}
.footer-wrap {
	display: flex;
	background-color: #f4f4f4;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 1.75rem;
}
.footer-wrap > div {
	width: 18%;
	min-width: 250px;
}
.footer-wrap > div > h3 {
	margin-bottom: 1.25rem;
	padding-left: 0.75rem;
}
.footer-wrap > div > p {
	margin-bottom: 1.25rem;
	padding-left: 0.75rem;
	line-height: 1.45rem;
}
#E-news > a {
	color: black;
	font-weight: bold;
	font-size: 0.95rem;
}
#uniqlo-icon {
	width: 22%;
}
#uniqlo-icon > div {
	margin-left: 0.75rem;
}
#uniqlo-icon > div > i {
	font-size: 2.75rem;
	color: gray;
	margin-right: 1.25rem;
}
.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid black;
	padding: 1.25rem;
	color: gray;
}
.footer-bottom a {
	color: gray;
}

/*Except footer and Navbar*/

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}
#maincontainer2 {
	width: 85%;
	margin-top: 50px;
	margin-right: 5%;
	margin-left: 7%;
}
.sidenav {
	width: 200px;
}
.sidenav a,
.dropdown-btn {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: black;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
}

.main {
	margin-left: 300px;
	font-size: 20px;
	padding: 0px 10px;
}

.active {
	color: black;
}
#srinuspan::after {
	margin-right: -30px;
	float: right;
	content: '^';
}
.dropdown-container {
	display: none;
	padding-left: 8px;
}

#container2 {
	display: grid;
	grid-template-columns: auto auto auto auto;
	column-gap: 3%;
	row-gap: 2%;
}
#container2 > div {
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
	width: 190px;
}
button {
	width: 100%;
	height: 40px;
	font-size: 15px;
	background-color: green;
	color: white;
	border: 0;
}
#right-image {
	width: 190px;
}

#leftdiv {
	width: 25%;
	display: inline-block;
	vertical-align: top;
}

#rightdiv {
	width: 65%;
	display: inline-block;
	margin-left: 30px;
}

#men {
	margin-right: 2px;
	padding: 5px;
}

#aboveimg {
	width: 100%;
	margin-bottom: 40px;
	margin-top: 60px;
}
#up {
	display: grid;
	grid-template-columns: repeat(2, 85%);
	row-gap: 15px;
	margin-bottom: 40px;
}

select {
	height: 40px;
	cursor: pointer;
	padding: 10px 15px;
	outline: 0;
	border: 0;
	border-radius: 0;
	appearance: none;
}
.item {
	font-weight: bold;
	margin-left: 10px;
}
#price {
	font-weight: bolder;
	margin-left: 10px;
	margin-bottom: 15px;
}
#name {
	font-weight: bolder;
	font-size: 15px;
	margin-left: 10px;
	margin-bottom: 15px;
}
#gender {
	display: inline-block;
	margin-left: 10px;
	margin-right: 52%;
	margin-bottom: 20px;
	margin-top: -10px;
	color: gray;
}
#size {
	display: inline-block;
	margin-bottom: 20px;
	margin-top: -10px;
	color: gray;
}

#space {
	border: 1px solid gray;
	width: 60%;
	margin-left: 5px;
}

/*this boxes */
.foo {
	float: left;
	width: 30px;
	height: 30px;
	margin: auto;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.blue {
	background: white;
}

.purple {
	background: gray;
}

.wine {
	background: black;
}
.green {
	background-color: rgb(41, 212, 41);
}
.red {
	background-color: rgb(241, 23, 23);
}
.black {
	background-color: yellow;
}
.orange {
	background-color: orange;
}
.whitesmoke {
	background-color: whitesmoke;
}
.asizes {
	float: left;
	width: 40px;
	height: 40px;
	margin: auto;
	border: 1px solid rgba(0, 0, 0, 0.2);
	text-align: center;
	padding-top: 5px;
}

#sucesspayid {
	width: 100%;
	text-align: center;
	margin: auto;
	margin-top: 300px;
}

/*  payment page */
#containerpayment {
	margin: auto;
	margin-top: 50px;
	margin-bottom: 100px;
	border: 1px solid black;
	width: 30%;
	padding: 100px;
	padding-left: 250px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#para {
	text-align: center;
	margin: top 100px;
}
